# Explore merchant data

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import matplotlib.ticker as tick
import seaborn as sb

### Import data

In [43]:
orders = pd.read_csv("/Users/daniellaframboise/Documents/Internships/2019/data/orders.csv")
order_items = pd.read_csv("/Users/daniellaframboise/Documents/Internships/2019/data/order_items.csv")

In [44]:
orders.head()

   id  customer            placed_on  total_cost  total_tax  subtotal
0   1         4  2017-03-05 16:55:52      884.34     101.74    782.60
1   2        22  2015-09-05 10:20:52      972.40     111.87    860.53
2   3        19  2016-01-24 11:38:27      105.91      12.18     93.73
3   4        10  2016-04-25 10:43:25      647.20      74.46    572.74
4   5         4  2017-12-02 06:27:31      343.27      39.49    303.78

In [45]:
order_items.head()

   id  order  product_variation   price  quantity
0   1      1                 66    9.61         3
1   2      1                  1   11.53         2
2   3      1                 30   15.35         3
3   4      1                 60   72.47         2
4   5      1                 13  125.26         3

### Explore merging data

In [46]:
data = orders.merge(order_items, left_on='id', right_on='order')

In [47]:
data.head()

,id_x,customer,placed_on,total_cost,total_tax,subtotal,id_y,order,product_variation,price,quantity
0,1,4,2017-03-05 16:55:52,884.34,101.74,782.6,1,1,66,9.61,3
1,1,4,2017-03-05 16:55:52,884.34,101.74,782.6,2,1,1,11.53,2
2,1,4,2017-03-05 16:55:52,884.34,101.74,782.6,3,1,30,15.35,3
3,1,4,2017-03-05 16:55:52,884.34,101.74,782.6,4,1,60,72.47,2
4,1,4,2017-03-05 16:55:52,884.34,101.74,782.6,5,1,13,125.26,3

In [48]:
data.dtypes

id_x                   int64
customer               int64
placed_on             object
total_cost           float64
total_tax            float64
subtotal             float64
id_y                   int64
order                  int64
product_variation      int64
price                float64
quantity               int64
dtype: object

In [49]:
data['placed_on'] = pd.to_datetime(data['placed_on'])

In [50]:
data.dtypes

id_x                          int64
customer                      int64
placed_on            datetime64[ns]
total_cost                  float64
total_tax                   float64
subtotal                    float64
id_y                          int64
order                         int64
product_variation             int64
price                       float64
quantity                      int64
dtype: object

In [51]:
data = data.rename(index=str, columns={"id_x": "id","id_y": "order_item_id"})

In [52]:
data.head()

,id,customer,placed_on,total_cost,total_tax,subtotal,order_item_id,order,product_variation,price,quantity
0,1,4,2017-03-05 16:55:52,884.34,101.74,782.6,1,1,66,9.61,3
1,1,4,2017-03-05 16:55:52,884.34,101.74,782.6,2,1,1,11.53,2
2,1,4,2017-03-05 16:55:52,884.34,101.74,782.6,3,1,30,15.35,3
3,1,4,2017-03-05 16:55:52,884.34,101.74,782.6,4,1,60,72.47,2
4,1,4,2017-03-05 16:55:52,884.34,101.74,782.6,5,1,13,125.26,3

### Import product data

In [53]:
products = pd.read_csv("/Users/daniellaframboise/Documents/Internships/2019/data/products.csv")
product_variations = pd.read_csv("/Users/daniellaframboise/Documents/Internships/2019/data/product_variations.csv")

In [54]:
products.head()

,id,merchant,name,description,price,sku
0,1,2,Large table,A great table,102.12,8437152631
1,2,11,Cotton t-shirt,100% cotton t-shirt,11.99,1437367336
2,3,3,Wool coat,Sturdy 100% wool,400.50,3977592277
3,4,4,See-through corded telephone,NaN,26.78,8241503020
4,5,3,V-neck t-shirt,100% cotton,10.00,4556771762

In [55]:
product_variations.head()

   id  product       name
0   1        2        Red
1   2       11      Small
2   3       10      Green
3   4       23  Checkered
4   5       10       Blue

In [56]:
# Drop columns that won't be used
products.drop(['description', 'sku'], inplace=True, axis=1)

In [57]:
products.head()

   id  merchant                          name   price
0   1         2                   Large table  102.12
1   2        11                Cotton t-shirt   11.99
2   3         3                     Wool coat  400.50
3   4         4  See-through corded telephone   26.78
4   5         3                V-neck t-shirt   10.00

### Merge data with product_variations

In [58]:
data = orders.merge(product_variations, left_on='product_variation', right_on='id')

KeyError: 'product_variation'